body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

*:focus {
	outline: 0 !important;
}

.custom-loader {
	height: calc(80vh);
	position: relative;
}

.custom-loader .circle {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	animation: custom-loader-anim 2.1s infinite ease-out;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	background: var(--primary);
}

.custom-loader .circle.delay-1 {
	animation-delay: 0.7s;
}

.custom-loader .circle.delay-2 {
	animation-delay: 1.4s;
}

@keyframes custom-loader-anim {
	from {
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
	}
	to {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}

.sidebar-exit {
	margin-left: 260px;
}

a {
	text-decoration: none !important;
	color: #fff !important;
	text-align: center;
}
a:hover {
	text-decoration: none !important;
	color: red !important;
}

.active {
	color: red !important;
}

.stats-back {
	padding: 20px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 10px 10px 5px grey;
}
.stats-back:hover {
	background-color: rgba(15, 218, 234, 0.1);
}

.match-card {
	background-color: #ececec;
	padding: 10px 20px;
	width: 100%;
}
.match-card p {
	font-weight: bold;
	margin: 0;
}

.match-circle {
	background-color: #fff;
	border-radius: 50%;
	border: 3px solid grey;
	width: 100px;
	height: 100px;
}
.green-circle {
	background-color: #fff;
	border-radius: 50%;
	border: 3px solid #37ae27;
	width: 100px;
	height: 100px;
	position: relative;
}
.green-circle img {
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 0px;
	right: 0px;
}

.card {
	box-shadow: 0px 0px 5px grey;
	width: 90%;
}
.card-text {
	font-size: 26px;
	margin: 0;
	font-weight: bold;
	text-transform: capitalize;
}
.team-description {
	font-weight: bold;
}

.stat-card {
	background-color: #fff;
	box-shadow: 0px 0px 5px grey;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	flex-direction: column;
}

@media (max-width: 768px) {
	.sidebar-exit {
		margin-left: 0;
	}
	.card {
		width: 100%;
	}
}

.teamdetail {
	color: #000 !important;
}

.teamdetail:hover {
	color: #000 !important;
	cursor: pointer;
}
